<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>
	<h1>Creacion de categorias</h1>
	<form action="save" method="POST">
	<div class="form-group">
		<label for="inputNombre">Nombre: </label> 
		<input type="text" class="form-control" name="nombre" id="nombre"> 
	</div>
	<div class="form-group">
		<label for="inputDescripcion">Descripcion: </label> 
		<input type="text" class="form-control" name="descripcion" id="descripcion"> 
	</div>
	
	<button type="submit" class="btn btn-primary">Submit</button>
	</form>
</body>
</html>