<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<title>Insert title here</title>
	<link rel="stylesheet"
		href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
		integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
		crossorigin="anonymous">
</head>
<body>
	<header th:insert="fragments/BarraHerramientas.html :: BarraHerramientas">
	</header>
	<!--  
	<table>
		<tr th:each="listado_item: ${detalleVacante_detalleVacante}">
			<td><img th:src="@{/img/{imagen}(imagen=${listado_item.empresa})}" width="130px" height="130px"></td>
			<td>
				<a th:href="@{/vacantes/detalle/{id}(id=${listado_item.id})} ">
					<div th:text="${listado_item.id}"></div>
				</a>
			</td>
			<td th:text="${listado_item.nombre}" />
			<td th:text="${listado_item.descripcion}" />
			<td th:text="${listado_item.salario}" />
			<td th:text="${listado_item.estatus}==true ? 'ACTIVO':'BLOQUEADO'" />
			<td> 
				<span th:if="${listado_item.destacado==true}" class="badge badge-primary">Destacado</span>
				<span th:unless="${listado_item.destacado==true}" class="badge badge-danger">No Destacado</span>
			</td>
			<td>
				<a th:href="@{/vacantes/eliminarLista?id={idVacante}(idVacante=${listado_item.id})}">Eliminar</a>
			</td>			
		</tr>
	</table>
	-->
	
	<!-- Inicio del despliegue de ofertas destacadas -->
	<div class="container">
		<h2>Destacados</h2>
		<div class="row" th:each="listado_item: ${detalleVacante_detalleVacante}">
			<div class="col-md-3">
				<img th:src="@{/img/{imagen}(imagen=${listado_item.empresa})}" width="130px" height="130px">
			</div>
			<div class="col-md-9">
				<h2 th:text="${listado_item.nombre}"></h2>
				<h6 class="card-title"><strong>Categoria:</strong></h6>
				<h6 class="card-title"><strong>Publicado:</strong></h6>
				<p th:text="${listado_item.descripcion}"></p>
				<h6 class="card-title"><strong>Salario:</strong><span th:text="${listado_item.salario}"></span></h6>
				<div class="btn-group" role="group" aria-label="Basic example">
					<a class="btn btn-primary" th:href="@{/vacantes/detalle/{id}(id=${listado_item.id})} ">Ver detalle</a>
					<a class="btn btn-primary" th:href="@{/vacantes/eliminaVacante/{id}(id=${listado_item.id})} ">Eliminar</a>
					<a class="btn btn-primary" th:href="@{/vacantes/modificaVacante/{id}(id=${listado_item.id})} ">Modificar</a>
				</div>
			</div>
			<hr class="my-4">
		</div>
	</div>


	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
		integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
		crossorigin="anonymous"></script>
	<script
		src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
		integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
		crossorigin="anonymous"></script>
	<script
		src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
		integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
		crossorigin="anonymous"></script>
</body>
</html>