<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
	integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
	crossorigin="anonymous">
</head>
<body>
	<header th:insert="fragments/BarraHerramientas.html :: BarraHerramientas">
	</header>
	<!--  
	<img th:src="@{/img/logo.png}">

	<h1 style="display: inline-block;" th:text="${bienvenida_Home}"></h1>
	<h1>hoy es: [[${fecha_home}]]</h1>-->
	
	
	<!-- Inicio del formulario de busqueda de empleos -->
	<div class="jumbotron">
		<h1 class="display-4">Bienvenido al sistema de busqueda de
			empleos</h1>

		<p class="lead">El proposito de este sitio es que encuentres una
			oferta de empleo</p>
		<hr class="my-4">

		<p>Echa un vistazo a las ofertas</p>

		<form action="buscarEmpleo" method="post" th:object="${vacante}">
			<div class="form-group row">
				<div class="col-sm-3">
					<input type="text" class="form-control" th:field=*{descripcion} placeholder="Busca un empleo">
				</div>
				<div class="col-sm-3">
					<select class="form-control" th:field=*{categoria.id}>
				    	<option th:value="null">Seleccione una categoria</option>
				    	<option th:each="categorias_item: ${detalleVacante_listaCategorias}" th:text="${categorias_item.nombre}" th:value="${categorias_item.id}"></option>
				    </select>
				</div>
				<button type="submit" class="btn btn-primary">Enviar</button>
			</div>
		</form>
	</div>
	<!-- Fin del formulario de busqueda de empleos -->
	
	<!--  Inicio: se renderiza el listado de vacantes destacadas-->
	<div class="container">
		<div class="row">
			<div class="col-md-3">
				<h3>Ofertas destacadas</h3>
			</div>
			<div class="col-md-6"></div>
			<div class="col-md-3"></div>
		</div>
	</div>
	<div th:insert="fragments/DetalleVacantes.html :: mostrarVacantes"></div>
	<!--  Fin: se renderiza el listado de vacantes destacadas-->
	
	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
		integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
		crossorigin="anonymous"></script>
	<script
		src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
		integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
		crossorigin="anonymous"></script>
	<script
		src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
		integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
		crossorigin="anonymous"></script>
</body>
</html>